CLML_DATA_DIR=.data
CLML_RANDOM_STATE=42
CLML_N_JOBS=-1
CLML_OPTUNA_TRIALS=8
CLML_MLFLOW_TRACKING_URI=sqlite:///.data/service/mlflow.db
CLML_PLOT_FORMAT=png
CLML_FEATURE_ENGINEERING=false
CLML_FEATURE_RULES=
